#flower {
  position: center;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
 max-width: 200px;
  -webkit-animation:rotate linear infinite 8s;
}

@-webkit-keyframes rotate{
  from{
    -webkit-transform: rotate(360deg);
  }
  to{
    -webkit-transform: rotate(0deg);
  }
}
h1{
  height: 300px;
  width: 300px;
  border: 2px solid black;
  margin: auto;
  margin-top: 100px;
}
